<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

<variable name="defaultLayout"
          value="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  
  <targets>    
      
    <target 
        xsi:type="File" 
        name="file" 
        fileName="logs/log.txt"
        archiveFileName="${basedir}/logs/log.{#}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        keepFileOpen="false"
        createDirs="true"
        layout="${defaultLayout}" />

  </targets>

  <rules>        
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>